<footer class="footer">
  <small>
    <a href="https://github.com/cliche818/Zeroapp">Cliche818's GitHub</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#'%></li>
      <li><a href="http://github.com/cliche818">News</a></li>
    </ul>
  </nav>
</footer>